/* Form - Structural */
.form {
    color: #2b3133;
}
.form fieldset > ol > li {
    margin: 0;
    padding: 15px 20px 15px 15px;
    border-left: 5px solid rgba(255,255,255,0);
    transition: all 0.2s ease-in-out;
    position: relative;
    box-sizing: border-box;
}
.form fieldset > ol > li .form-field {
    padding: 20px 0;
}
.form .form-inline-radios,
.form .form-grid-radios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.form .form-grid-radios {
    flex-wrap: wrap;
    align-items: stretch;
}
.form .form-inline-radios > li,
.form .form-grid-radios > li {
    width: 50%;
    box-sizing: border-box;
}
.form .form-inline-radios.two-col {
    display: block;
    column-count: 2;
    column-gap: 10px;
}
.form .form-inline-radios.two-col > li:nth-child(odd),
.form .form-inline-radios.two-col > li:nth-child(even) {
    width: auto;
    padding: 5px 0;
}

.form .form-inline-radios > li:nth-child(odd),
.form .form-grid-radios > li:nth-child(odd) {
    padding-right: 3px;
}
.form .form-inline-radios > li:nth-child(even),
.form .form-grid-radios > li:nth-child(even) {
    padding-left: 3px;
}

/* Form - Text */
.form .form-title,
.form legend {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 300;
    padding: 20px 20px 10px;
    display: block;
    max-width: 748px;
}

.form .form-subtitle {
    font-size: 16px;
    line-height: 1.38;
    font-weight: 700;
    color: #562873;
    padding: 0px 20px 15px;
    max-width: 748px;
}
.form legend {
    padding: 30px 20px 5px;
/*    font-size: 18px;*/
}
.form .form-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 20px 10px;
    max-width: 748px;
}

/* Form - labels */

.form label,
.form .label {
    font-size: 16px;
    line-height: 1.38;
    font-weight: 400;
    padding: 0 30px 10px 0;
    display: block;
}
.form .form-field {
    font-size: 16px;
    font-weight: 600;
}
.form label b,
.form .label b {
    font-weight: 600;
}
.form .form-multiple-input label {
    font-size: 14px;
    font-weight: 600;
	   color: #2b3133;
}
.form .form-multiple-input {
    margin-bottom: 14px;
}
.form input[type=radio] + label,
.form input[type=checkbox] + label {
    padding: 15px 10px 15px 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 rgb(198, 202, 204);
    box-sizing: border-box;
    background-color: #ebf0f2;
    display: block;
    color: #566266;
    width: 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.form input[type=radio] + label sub,
.form input[type=checkbox] + label sub {
    display: block;
    font: normal 12px 'Open Sans';
}
.form ul li:last-of-type input[type=radio] + label,
.form ul li:last-of-type input[type=checkbox] + label,
.form .form-inline-radios input[type="radio"] + label {
    margin: 0;
}
.form input[type=radio] + label strong {
    font-weight: 700;
}
.form input[type=radio] + label small {
    display: block;
    font-weight: 400;
    padding-top: 5px;
    font-size: 14px;
}
.form input[type=radio] + label:before,
.form input[type=radio] + label:after {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.2s linear;
    transform-origin: center;
}
.form input[type=radio] + label:before {
    width: 24px;
    height: 24px;
    border: 1px solid #C6CACC;
    top: 13px;
    left: 13px;
    box-shadow: inset 0 0 0 2px #FFF;
}
.form input[type=radio]:checked + label:before {
    border-color: rgba(255,255,255,0);
}
.form input[type=radio] + label:after {
    width: 22px;
    height: 22px;
    top: 14px;
    left: 14px;
    background-color: #FFF;
}
.form input[type=radio]:checked + label:after {
    transform: scale(0.4);
}

.form input[type=radio] + label:hover,
.form input[type=checkbox] + label:hover {
    background-color: #99dff9;
    box-shadow: 0 2px 0 0 rgba(198,202,204,0);
}

.form input[type=radio]:focus + label,
.form input[type=checkbox]:focus + label {
    box-shadow: inset 0 0 0 2px #99dff9;
}

.form input[type=radio]:checked + label,
.form input[type=radio]:checked:focus + label,
.form input[type=checkbox]:checked + label,
.form input[type=checkbox]:checked:focus + label {
    background-color: #00AEEF;
    box-shadow: inset 0 2px 0 0 #0082b5;
    color: #FFF;
}

.form input[type=radio]:checked + label:hover,
.form input[type=checkbox]:checked + label:hover {
    background-color: #0083b3;
}

.form input[type=radio]:checked:focus + label,
.form input[type=checkbox]:checked:focus + label {
    box-shadow: inset 0 0 0 2px #99dff9;
}

.form input[type=checkbox] + label:before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #C6CACC;
    display: block;
    position: absolute;
    top: 13px;
    left: 13px;
    background: #FFF url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><polyline stroke="#FFF" fill="none" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" points="70.5,35.5 41.5,64.5 29.5,52.5"/></svg>') center center no-repeat;
    background-size: 24px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.form input[type=checkbox]:checked + label:before {
    background-color: transparent;
    border: 3px solid #FFF;
}

.form input[type=checkbox] + label.tickbox {
    background-color: transparent;
    box-shadow: none;
    padding: 15px 15px 15px 65px;
    margin: 0;
    text-transform: none;
    -webkit-tap-highlight-color: transparent;
}
.form li input[type=checkbox] + label.tickbox {
    padding: 0 0 0 45px;
}
.form input[type=checkbox]:checked + label.tickbox {
    color: #566266;
}
.form input[type=checkbox]:checked + label.tickbox:hover,
.form input[type=checkbox]:checked + label.tickbox:focus {
    background-color: transparent;
    box-shadow: none;
}
.form input[type=checkbox] + label.tickbox:before {
    width: 30px;
    height: 30px;
    top: 15px;
    left: 20px;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 0 #ebf0f2;
    background-size: 20px;
}
.form li input[type=checkbox] + label.tickbox:before {
    top: 0;
    left: 0;
}
.form input[type=checkbox]:checked + label.tickbox:before {
    background-color: #00aeef;
    border: none;
	box-shadow: inset 0 2px 0 0 #0083b3;
    background-size: 34px;
}

/* Form - inputs */
.form input[type=text],
.form input[type=password],
.form input[type=email],
.form input[type=number],
.form input[type=tel]{
    padding: 16px 10px 17px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    box-shadow: inset 0 2px 0 0 #c6cacc;
    box-sizing: border-box;
    background-color: #ebf0f2;
    display: block;
    color: #2B3133;
    width: 100%;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}
.form input[type=text]:last-of-type,
.form input[type=email]:last-of-type,
.form input[type=number]:last-of-type,
.form input[type=tel]:last-of-type,
.form .form-num-wrap input {
    margin-bottom: 0;
}
.form textarea {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    font: normal 14px 'Open Sans';
    border: none;
    background-color: #ebf0f2;
    box-shadow: inset 0 2px 0 0 #c6cacc;
    padding: 15px;
    box-sizing: border-box;
    resize: none;
}
.form input:focus,
.form textarea:focus {
    box-shadow: 0 0 3px 2px #00aeef, inset 0 2px 0 0 #c6cacc;;
}
.form input:placeholder-shown {
    color: #C6CACC;
}
.form .error-input input {
    background-color: #fde8e9;
    color: #ed1c24;
    box-shadow: 0 0 4px 2px #ed1c24;
}
.form .error-input input:focus {
    box-shadow: 0 0 3px 2px #00aeef, inset 0 2px 0 0 #c6cacc;
}
.form .form-date-wrap.error-input {
    background-color: #fde8e9;
    color: #ed1c24;
    box-shadow: 0 0 4px 2px #ed1c24;
}
.form .error-input input:placeholder-shown {
    color: #ed1c24;
}
.form :-ms-input-placeholder {
    font: normal 14px 'Open Sans';
    color: #949899;
}
.form ::-webkit-input-placeholder {
    font: normal 14px 'Open Sans';
    color: #949899;
}

.form input[type=radio],
.form input[type=checkbox] {
    -webkit-appearance: none;
    border: 0 none;
    background-color: transparent;
    position: absolute;
    z-index: -1;
    display: block;
    width: 0;
    height: 0;
}
.form input[type=radio]:focus,
.form input[type=checkbox]:focus {
    outline: none;
    box-shadow: 0 2px 0 0 #c6cacc;
}

.form .form-pseudo-select {
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #c6cacc;
    box-sizing: border-box;
    background-color: #ebf0f2;
    position: relative;
    margin-bottom: 10px;
    z-index: 0;
}
.form .form-pseudo-select:before {
    content: '';
    height: 50px;
    width: 1px;
    background-color: #DFE3E5;
    position: absolute;
    top: 0;
    right: 40px;
}
.form .form-pseudo-select:after {
    content: '';
    height: 24px;
    width: 24px;
    background: transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><polyline fill="none" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" stroke="#00AEEF" points="41.5,67 58.5,50 41.5,33"/></svg>') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    right: 9px;
    transform: rotate(90deg);
    transform-origin: center;
    z-index: 0;
}

.form .form-pseudo-select select {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    font: normal 700 14px/18px 'Open Sans';
    color: #566266;
    padding: 18px 41px 14px 15px;
    background-color: transparent;
    position: relative;
    z-index: 1;
}
.form .form-pseudo-select select:focus {
    box-shadow: inset 0 0 0 2px #99dff9;
}

.form .notification {
    font: 400 14px 'Open Sans';
    box-sizing: content-box;
    padding: 20px 20px 20px 15px;
    background-color: #f2f8fa;
    border-left: solid 5px #ebf0f2;
    margin: 10px 0;
}
.form .notification.warning,
.form .notification.success {
    background-color: #fde8e9;
    border-left-color: #ed1c24;
    padding-left: 55px;
}
.form .notification.success {
    background-color: #ecf6e7;
    border-left-color: #48a415;
}
.form .form-field .notification {
    margin-left: -20px;
    width: calc(100% - 5px);
}
.form .notification label {
    font-size: 14px;
    font-weight: 700;
}
.form .notification a {
    display: inline;
    text-decoration: underline;
}
.form .notification.warning a {
    color: #ed1c24;
}
.form .notification.success a {
    color: #48a415;
}
.form .notification p ~ ul {
    padding-top: 10px;
}
.form .notification li {
    position: relative;
    padding: 0 0 8px 25px;
    line-height: 1.3;
    display: block;
}
.form .notification li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #00AEEF;
    position: absolute;
    top: 5px;
    left: 10px;
}
.form .notification.warning li:before,
.form .notification.success li:before {
    background-color: #2b3133;
}
.form .notification.tick-list li:before {
    content: '';
    width: 28px;
    border-radius: 0;
    height: 28px;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    background: transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><polyline stroke="#00aeef" fill="none" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" points="70.5,35.5 41.5,64.5 29.5,52.5"/></svg>') center center no-repeat;
    background-size: 28px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.form .notification.warning:before,
.form .notification.success:before {
    content: '';
    position: absolute;
    left: 17px;
    width: 35px;
    height: 30px;
    display: block;
    background: transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><g fill="none" stroke="#ED1C24" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"><line  x1="50" y1="29" x2="50" y2="47.5"/><line x1="50" y1="56.3" x2="50" y2="56.4"/><polygon points="91,70 8.9,70 49.8,3.5"/></g></svg>') 1px 1px no-repeat;
    background-size: 35px;
}
.form .notification.success:before {
    left: 20px;
    width: 30px;
    border-radius: 30px;
    background: #48a415 url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><polyline stroke="#ecf6e7" fill="none" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" points="70.5,35.5 41.5,64.5 29.5,52.5"/></svg>') center center no-repeat;
}

.form .form-autocomplete {
    position: relative;
}
.form .form-autocomplete:after {
    content: '';
    height: 24px;
    width: 24px;
    background: transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><g stroke-width="8" stroke-linecap="round" stroke-linejoin="round" fill="none" stroke="#949899"><circle cx="58.4" cy="41.6" r="19.9"/><line x1="21.7" y1="78.3" x2="43.3" y2="56.7"/></g></svg>') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    right: 9px;
    transform: scale(-1, 1);
    transform-origin: center;
    z-index: 0;
}
.form .form-autocomplete input {
    text-transform: capitalize;

}


.autocomplete-answers {
    background-color: #fff;
    box-shadow: 0 2px 7px 0 #c6cacc;
    border: solid 1px #c6cacc;
    margin-top: 24px;
    position: relative;
    display: none;
}
.autocomplete-answers:before {
    content: '';
    border: 10px solid #FFF;
    border-color: #FFF #FFF transparent transparent;
    box-shadow: 1px -1px 1px 0 #C6CACC;
    transform: rotate(-45deg);
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: -10px;
    left: 15px;
}
.autocomplete-answers ul {
    overflow: auto;
    max-height: 260px;
}
.autocomplete-answers li {
    padding: 10px 15px;
    border-bottom: 1px solid #C6CACC;
    color: #566266;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
}
.autocomplete-answers li:hover {
    border-bottom: 1px solid #C6CACC;
    color: #FFF;
    background-color: #00AEEF;
}
.autocomplete-answers li b {
    color: #FFF;
    background-color: #00AEEF;
}
.autocomplete-answers + p {
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}
.form .autocomplete-replay {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #562873;
    border: 2px solid #562873;
    padding: 0 35px 0 15px;
    border-radius: 30px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 10px 10px 0 0;
}
.form .autocomplete-replay:hover {
    color: #FFF;
    background-color: #562873;
}
.form .autocomplete-replay:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 4px;
    right: 4px;
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><g fill="none" stroke="#562873" stroke-width="11" stroke-linecap="round" stroke-linejoin="round"><line x1="33.5" y1="33.5" x2="66.5" y2="66.5"/><line x1="66.5" y1="33.5" x2="33.5" y2="66.5"/></g></svg>') center center no-repeat;
}
.form .autocomplete-replay:hover:after {
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><g fill="none" stroke="#FFF" stroke-width="11" stroke-linecap="round" stroke-linejoin="round"><line x1="33.5" y1="33.5" x2="66.5" y2="66.5"/><line x1="66.5" y1="33.5" x2="33.5" y2="66.5"/></g></svg>') center center no-repeat;
}
.form ul input[type="text"]:first-child {
    margin-bottom: 10px;
}

/* Text formatting */

.form .form-hint,
.form .form-hint-list {
    color: #566266;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
    padding-bottom: 10px;
}
.form .form-hint-list li {
    position: relative;
    padding: 0 0 8px 25px;
    line-height: 1.3;
    display: block;
}
.form .form-hint-list li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #00AEEF;
    position: absolute;
    top: 5px;
    left: 0;
}
.form .form-hint strong {
    font-weight: 700;
}
.form .error,
.form .error-input {
    border-left-color: #ed1c24;
}
.form .dependant {
    border-left-color: #00AEEF;
}
.form .form-error-wrap {
    position: relative;
    padding: 0 0 0 45px;
    color: #ed1c24;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    display: none;
}
.form .error .form-error-wrap {
    display: block;
}
.form .form-error-wrap:before {
    content: '';
    width: 35px;
    height: 30px;
    display: block;
    background: #FFF url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><g fill="none" stroke="#ED1C24" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"><line  x1="50" y1="29" x2="50" y2="47.5"/><line x1="50" y1="56.3" x2="50" y2="56.4"/><polygon points="91,70 8.9,70 49.8,3.5"/></g></svg>') 1px 1px no-repeat;
    background-size: 35px;
    position: absolute;
    top: 0;
    left: 0;
}
.form .form-input-error {
    color: #ed1c24;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    display: none;
}
.form .error-input ~ .form-input-error {
    display: block;
}

/* Help */
.form .form-help-trigger {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    top: 22px;
    right: 20px;
}
.form .form-help-trigger:before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #00AEEF;
    border-radius: 50%;
    display: block;
    background: #FFF url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><g stroke="none" fill="#00AEEF"><path id="path3339_1_" d="M18.4,93.9c4.2-2.4,10.9-10.6,13.4-16.3l-2.6-1.1c-5.2,9-13.2,15.7-10.5,4.5l15.8-49.7 C30.4,31,9.5,34.4,6.2,35l-0.5,2.7c7.1,0.2,8.1,3.2,7.6,5.6L1.4,81.2c0,0-1.5,4.3-1.4,7.5C0.1,95.9,9.6,98.7,18.4,93.9z"/><path id="path7182_1_" d="M39.1,10.1c0,5.6-4.5,10.1-10.1,10.1s-10.1-4.5-10.1-10.1C18.9,4.5,23.4,0,29,0S39.1,4.5,39.1,10.1 L39.1,10.1z"/></g></svg>') 6px 3px no-repeat;
    background-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.4s ease-in-out;
    transform: rotate(0deg);
}
.form .form-help-trigger.open:before {
    background: #949899 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><g fill="none" stroke="#FFF" stroke-width="11" stroke-linecap="round" stroke-linejoin="round"><line x1="33.5" y1="33.5" x2="66.5" y2="66.5"/><line x1="66.5" y1="33.5" x2="33.5" y2="66.5"/></g></svg>') center center no-repeat;
    border-color: #949899;
    transform: rotate(360deg);
}
.form .form-help-trigger span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}
.form .form-help-wrap {
    position: relative;
    margin-top: 0;
    transition: all 0.4s ease-in-out;
}
.form .open + .form-help-wrap {
    margin-top: 7px;
}
.form  .form-help-wrap:before {
    content: '';
    border: 10px solid #e4f7fd;
    border-width: 0 10px;
    border-color: transparent transparent #e4f7fd;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.4s ease-in-out;
}
.form .open + .form-help-wrap:before {
    border-bottom-width: 10px;
    top: -10px;
}
.form .form-help-wrap > div {
    background-color: #e4f7fd;
    padding: 0 15px;
    font-weight: 400;
    line-height: 1.29;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
    max-height: 0;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form .form-help-trigger.open + .form-help-wrap > div {
    padding: 15px 15px 0;
    max-height: 1000px;
    margin-bottom: 10px;
}
.form .form-help-wrap h1,
.form .form-help-wrap h2 {
    padding-bottom: 12px;
    font-weight: 700;
}
.form .form-help-wrap p,
.form .form-help-wrap ul {
    color: #566266;
    padding-bottom: 20px;
}
.form .form-help-wrap li {
    padding: 0 0 6px 15px;
    position: relative;
}
.form .form-help-wrap li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #00AEEF;
    position: absolute;
    top: 5px;
    left: 0;
}
.form .form-help-wrap a {
    color: inherit;
}


/* Form messages */
.form .form-message {
    border-left-color: #C6CACC;
    background-color: #F2F8FA;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
}
.form .form-message h2 {
    font-weight: 700;
    padding-bottom: 10px
}
.form .form-message p + h2 {
    padding: 10px 0;
}
.form .form-message p {
    max-width: 748px;
}
.form .form-message a {
    color: #00AEEF;
    text-decoration: none;
    font-weight: 500;
}
.form .form-message a:hover,
.form .form-message a:focus{
    text-decoration: underline;
    color: #0083b3;
}

.form .form-message-error {
    border-left-color: #ed1c24;
    background-color: #fde8e9;
    padding-left: 65px;
}
.form .form-message-error:before {
    content: '';
    width: 35px;
    height: 30px;
    display: block;
    background: #fde8e9 url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><g fill="none" stroke="#ED1C24" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"><line  x1="50" y1="29" x2="50" y2="47.5"/><line x1="50" y1="56.3" x2="50" y2="56.4"/><polygon points="91,70 8.9,70 49.8,3.5"/></g></svg>') 1px 1px no-repeat;
    background-size: 35px;
    position: absolute;
    top: 20px;
    left: 14px;
}
.form .form-message-error a {
    color: hsl(358, 85%, 52%);
}
.form .form-message-error a:hover,
.form .form-message-error a:focus{
    color: #c61016;
}
.form .form-message-success {
    border-left-color: #48a415;
    padding-left: 65px;
    background-color: #ecf6e7;
}
.form .form-message-success a {
    color: #367b10;
}
.form .form-message-success a:hover,
.form .form-message-success a:focus{
    color: #24520b;
}
.form .form-message-success:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
    background: #48a415 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><polyline stroke-width="11" stroke-linecap="round" stroke-linejoin="round" fill="none" stroke="#FFF" points="70.5,35.5 41.5,64.5 29.5,52.5"/></svg>') center center no-repeat;
}

.form .form-spinner-wrap {
    position: relative;
    -webkit-user-select: none;
    user-select: none;

}
.form .spinner-trigger {
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border: 2px solid #00AEEF;
    background-color: #FFF;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.form input + .spinner-trigger {
    left: initial;
    right: 0;
}
.form .spinner-trigger:before,
.form input + .spinner-trigger:after {
    width: 14px;
    height: 3px;
    border-radius: 3px;
    display: block;
    background-color: #00AEEF;
    content: '';
    position: absolute;
    top: 14px;
    left: 8px;
    transform-origin: center;
    transition: all 0.2s ease-in-out;
}
.form input + .spinner-trigger:after {
    transform: rotate(90deg)
}
.form .spinner-trigger:hover {
    background-color: #00AEEF;
}
.form .spinner-trigger:hover:before,
.form input + .spinner-trigger:hover:after {
    background-color: #FFF;
}
.form .form-spinner-wrap input {
    margin: 0 auto;
    width: calc( 100% - 94px );
    text-align: center;
    font: bold 18px 'Open Sans';
}

.form .form-num-wrap {
    display: flex;
    position: relative;
    border-radius: 5px;
    box-shadow: inset 0 2px 0 0 #c6cacc;
    box-sizing: border-box;
    background-color: #ebf0f2;
    position: relative;
    z-index: 0;
}
.form .form-num-wrap input {
    border: 0 none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    text-align: center;
    width: 33.3%;
    text-transform: uppercase;
}
.form .form-num-wrap > span{
    display: flex;
    align-items: center;
}
.form .form-num-wrap input:first-child {
    margin-left: 0;
}
.form .form-num-wrap input:hover,
.form .form-num-wrap input:focus {
    box-shadow: inset 0 0 4px 2px #00AEEF;
}
.form .form-length-wrap {
    display: flex;
    align-items: baseline;
}
.form .form-length-wrap input {
    margin-right: 10px;
    text-align: center;
}
.form .form-length-wrap input:last-child {
    margin: 0 0 0 10px;
    width: 200%;
}
.form .form-driving-licence input {
    width: 20%;
    margin-left: 0;
}
.form .form-driving-licence input:last-child {
    width: 25%;
}
.form .form-driving-licence input:nth-child(-n+3){
    width: 30%;
}

/* Address Lookup */
.pac-container.pac-logo:after,
.pac-icon.pac-icon-marker {
    display: none;
}
.pac-container.pac-logo {
    display: block!important;
    height: 0!important;
    width: 0!important;
}
.form .form-address-lookup .form-address-lookup-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    overflow: hidden;
    border: 0 none;
    position: absolute;
    padding: 0;
    box-shadow: none;
}
.form .form-address-lookup .form-address-lookup-input:focus {
    outline: none;
}
.form-address-lookup input {
    margin-bottom: 10px;
}
.form-btn {
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 11px 20px;
    border: 2px solid #00AEEF;
    border-radius: 30px;
    background-color: #FFF;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #00AEEF;
    text-align: left;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.form-btn:hover,
.form-btn:focus {
    background-color: #00AEEF;
    color: #FFF;
}

.form-text-replay {
    color: #2b3133;
    font-weight: 700;
    padding-top: 15px;
    display: none;
}
.form-address-lookup-edit {
    padding-top: 15px;
    text-decoration: underline;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 0 none;
    line-height: 1;
    font-weight: 700;
    color: #00AEEF;
    text-align: left;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
.address-found .form-text-replay,
.address-found .form-address-lookup-edit {
    display: block;
}
.form .address-found input,
.form .address-found button {
    display: none;
}

@media all and ( min-width: 340px ){
    .form {
        margin: 0;
    }
    .form .form-help-wrap > div {
        width: auto;
        margin: 0;
    }
    .form .form-message,
    .form .error,
    .form .error-input,
    .form .dependant {
        margin: 0 20px;
    }
    .form .dependant {
        border-left-color: #EBF0F2;
    }

}
@media all and ( min-width: 420px ){
    .form {
        margin: 0 auto;
        width: 380px;
    }
}
@media all and ( min-width: 620px ){
    .form {
        margin: 0 auto;
        width: 100%;
    }

    .form fieldset > ol > li {
        padding-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        border-left-width: 10px;
    }
    .form fieldset > ol > li > div {
        width: 50%;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
    }
    .form fieldset > ol > li > div:nth-of-type(1) {
        padding-right: 12px;
    }
    .form fieldset > ol > li > div:nth-of-type(2) {
        padding-left: 12px;
    }
    .form .form-message {
        display: block;
    }
    .form .form-message div {
        width: 100%;
    }


    .form .form-help-trigger {
/*                display: none;*/
    }
    .form .form-message {
        border-left-width: 10px;
        padding-left: 20px;
    }
    .form .form-message-error,
    .form .form-message-success {
        padding-left: 65px;
    }

    .form .error,
    .form .error-input,
    .form .dependant {
        border-left-width: 10px;
        padding: 20px 0 20px 20px;
    }
    .form .error > div:nth-of-type(1),
    .form .error-input > div:nth-of-type(1),
    .form .dependant > div:nth-of-type(1){
        padding-right: 24px;
    }
    .form .error > div:nth-of-type(2),
    .form .error-input > div:nth-of-type(2),
    .form .dependant > div:nth-of-type(2) {
        padding-left: 0;
    }
    .form fieldset > ol > li > div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .form label,
    .form .label {
        order: 1;
        font-size: 18px;
        padding-top: 9px;
        line-height: 1.56;
    }
    .form .form-error-wrap {
        order: 2;
    }
    .form .form-hint {
        order: 3;
    }
    .form .open + .form-help-wrap {
        margin-top: 20px;
    }
    .form .form-help-trigger {
        order: 4;
        position: static;
        width: inherit;
        height: inherit;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.29;
        text-decoration: none;
        margin-left: -5px;
    }
    .form .form-help-trigger:hover {
        text-decoration: underline;
        color: #0083B3;
    }
    .form .form-help-trigger:focus {
        color: #00AEEF;
        text-decoration: none;
    }
    .form .form-help-trigger span {
        width: initial;
        height: initial;
        overflow: visible;
        display: inline-block;
    }
    .form .form-help-trigger:before,
    .form .form-help-trigger.open:before {
        position: relative;
        background: transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><polyline fill="none" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" stroke="#00AEEF" points="41.5,67 58.5,50 41.5,33"/></svg>') center center no-repeat;
        display: inline-block;
        border: 0 none;
        top: 4px;
        left: 1px;
        transition: all 0.2s ease-in-out;
    }
    .form .form-help-trigger.open:before {
        transform: rotate(90deg);
    }
    .form .form-help-wrap {
        order: 5;
    }
    .form .form-help-wrap:before {
        right: initial;
        left: 35px;
    }



}
@media all and ( min-width: 768px ){
    .form .form-title,
    .form legend {
        font-size: 28px;
        line-height: 1.38;
    }
    .form .form-subtitle {
        font-size: 18px;
        line-height: 1.33;
    }
}

@media all and ( min-width: 824px ){
    .form {
        margin: 0 auto;
        width: 780px;
    }
    .form .form-title,
    .form legend {
        font-size: 32px;
    }

}

.edit:before,
.remove:before {
    content: 'Edit';
    display: inline-block;
    height: 22px;
    color: #00aeef;
    position: relative;
    padding: 3px 0 0 24px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: left center;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><g fill="none" stroke="#00aeef" stroke-width="11" stroke-linecap="round" stroke-linejoin="round"><path stroke-width="5" d="M84.4,21.6l-6-6c-1.6-1.5-4-1.5-5.5,0l-42,42l-6.4,17.9L42.5,69l42-42C85.9,25.6,85.9,23.2,84.4,21.6z"/><line stroke-width="3" x1="31" y1="57.5" x2="42.5" y2="69"/><line stroke-width="2" x1="67.1" y1="21.4" x2="78.6" y2="32.9"/><line stroke-width="2" x1="64.1" y1="24.4" x2="75.6" y2="35.9"/><polyline stroke-width="5" points="79.2,53.2 79.2,85.6 14.4,85.6 14.4,20.8 46.8,20.8"/></g></svg>');
}
.remove:before {
    content: 'Remove';
    background-size: 18px;
    padding-left: 22px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17"><g fill="#00AEEF" fill-rule="evenodd"><path d="M5.893 1.91h3.053v-.163a.835.835 0 0 0-.83-.837H6.723a.835.835 0 0 0-.83.837v.162zm3.414.727H5.531a.363.363 0 0 1-.361-.364v-.526A1.56 1.56 0 0 1 6.723.182h1.393a1.56 1.56 0 0 1 1.553 1.565v.526a.363.363 0 0 1-.362.364zM3.97 12.935V7.736c0-.251.202-.455.452-.455s.452.204.452.455v5.199a.453.453 0 0 1-.452.455.453.453 0 0 1-.452-.455zM10.057 12.935V7.736c0-.251.202-.455.451-.455.25 0 .452.204.452.455v5.199a.453.453 0 0 1-.452.455.453.453 0 0 1-.451-.455z"/><path d="M13.935 4.151a.52.52 0 0 1-.518.522H1.422a.52.52 0 0 1-.518-.522v-.852a.52.52 0 0 1 .518-.522h11.995a.52.52 0 0 1 .518.522v.852zm-2.141 11.656H3.149a.796.796 0 0 1-.792-.799V5.583h10.229v9.425c0 .44-.356.799-.792.799zm1.623-13.94H1.422C.638 1.866 0 2.508 0 3.298v.852c0 .79.638 1.432 1.422 1.432h.031v9.425c0 .943.761 1.71 1.696 1.71h8.645c.935 0 1.696-.767 1.696-1.71V5.58a1.428 1.428 0 0 0 1.349-1.429v-.852c0-.79-.638-1.433-1.422-1.433z"/><path d="M7.013 12.933V7.734c0-.251.203-.455.452-.455.25 0 .452.204.452.455v5.199a.453.453 0 0 1-.452.455.453.453 0 0 1-.452-.455z"/></g></svg>');
}

/*Dependants*/
.form .dependant {
    border-left-color: #00AEEF;
    padding: 0;
}
.form .dependant .dependant__answers {
    padding: 0 20px;
    margin-left: -5px;
    display: block;
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.4s linear;
}
.form .dependant .openBtn {
    display: none;
    margin: 20px 20px 15px 15px;
    width: calc(100% - 35px);
}
.form .dependant[data-status='closed'] .openBtn {
    display: block;
}
.form .dependant[data-status='open'] .dependant__answers,
.form .dependant[data-status='edit'] .dependant__answers {
    padding: 15px 20px;
    max-height: 1500px;
}
.dependant__answers button {
    margin-top: 15px;
}
.dependant__answers legend {
    padding: 0;
}
.dependant__answers a {
    padding: 10px 0 5px;
}
.dependant__answers fieldset > ol {
    margin-left: -20px;
}
.dependant__answers fieldset > ol > li.form-field {
    padding: 15px 0 15px 15px;
}
.dependant__answers .form-help-trigger {
    right: 0;
    top: 17px;
}

/*Card*/
.card-wrapper,
.card__default,
.card__primative,
.dependant[data-status='removed'] .card-wrapper label,
.dependant[data-status='removed'] .card {
    display: none;
}
.dependant[data-card='true'] .card-wrapper,
.dependant[data-status='removed'] .card__default {
    display: grid;
}
.card-wrapper label {
    padding: 15px 0 0 15px;
}
.card {
    position: relative;
    border-left: solid 5px rgba(255,0,0,0);
    margin-left: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card:last-of-type {
    margin-bottom: 10px;
}
.card h1 {
    font-weight: 700;
    color: #2b3133;
}
.card .edit:before {
    content: 'Edit details';
}
[data-status='edit'] .editing .edit:before {
    content: 'Editing...';
    color: #562873;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100"><g fill="none" stroke="#562873" stroke-width="11" stroke-linecap="round" stroke-linejoin="round"><path stroke-width="5" d="M84.4,21.6l-6-6c-1.6-1.5-4-1.5-5.5,0l-42,42l-6.4,17.9L42.5,69l42-42C85.9,25.6,85.9,23.2,84.4,21.6z"/><line stroke-width="3" x1="31" y1="57.5" x2="42.5" y2="69"/><line stroke-width="2" x1="67.1" y1="21.4" x2="78.6" y2="32.9"/><line stroke-width="2" x1="64.1" y1="24.4" x2="75.6" y2="35.9"/><polyline stroke-width="5" points="79.2,53.2 79.2,85.6 14.4,85.6 14.4,20.8 46.8,20.8"/></g></svg>');
}
.dependant__cancel:before {
    content: 'Cancel adding this driver';
}
[data-status='edit'] .dependant__cancel:before {
    content: 'Cancel editing this driver';
}
.card.removed,
.card.card__default {
    border-left-color: #ebf0f2;
}
.card__info {
    position: relative;
    left: 0;
    width: calc(100% - 65px);
    max-height: 400px;
    font-size: 14px;
    color: #566266;
    margin: 10px 20px 0 15px;
    padding: 15px;
    box-shadow: 0 2px 0 0 #c6cacc;
    background-color: #fff;
	border: solid 1px #dfe3e5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    overflow: hidden;
}
.card__info > span {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card.removed .card__info {
    opacity: 0;
    max-height: 0px;
    position: absolute;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.card__removal {
    position: absolute;
    font-size: 14px;
    display: block;
    width: 100%;
    background-color: #f2f8fa;
    padding: 15px 100px 15px 20px;
    margin-top: 10px;
    top: 0;
    left: calc(-100% - 20px);
    box-sizing: border-box;
}
.card.card__default .card__removal {
    margin-top: 0;
}
.card.card__default .card__removal,
.card.removed .card__removal {
    position: relative;
    left: 0;
    animation: burstIn 0.3s;
}
.card.snap .card__removal {
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card.card__default.done .card__removal,
.card.removed.done .card__removal {
    left: calc(-100% - 20px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card__removal h1 {
    margin-bottom: 5px;
}
.card__removal button {
    display: block;
    font: 700 16px 'Open Sans';
    color: #00aeef;
    background-color: #f2f8fa;
    padding: 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    border-left: solid 1px #dfe3e5;
}
@keyframes burstIn {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}


.dependant__select ~ .dependant__select {
    display: none;
}
.dependant__select.show {
    display: block;
}

/*
.card-wrapper,
.card__hidden {
    display: block;
}
*/
.form .card-list.dependant .dependant__answers {
    padding-bottom: 0;
}
.card-list .dependant__answers .form-help-trigger {
    top: 0;
}
.card-list .dependant__answers fieldset > ol > li.form-field {
    padding-top: 0;
    padding-bottom: 0;
}
.card__list dt {
    font-weight: 700;
    color: #2b3133;
}
.card__list dd {
    position: relative;
    padding: 10px 100px 10px 0;
    border-bottom: solid 1px #dfe3e5;
}
.card__list dd:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}
.card__list dd .remove {
    position: absolute;
    top: 7px;
    right: 0;
}
