<ul>
    <li>
        <input type="radio" id="radio1-0" name="radio1">
        <label for="radio1-0">Radio option one</label>
    </li>
    <li>
        <input type="radio" id="radio1-1" name="radio1">
        <label for="radio1-1">Radio option two</label>
    </li>
    <li>
        <input type="radio" id="radio1-2" name="radio1">
        <label for="radio1-2">Radio option three</label>
    </li>
    <li>
        {% include msm/components/form/dropdown/index.html %}
    </li>
</ul>
<p class="form-input-error">This is an error message that relates directly to the input.</p>
